<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link type="text/css" rel="stylesheet" href="./index.css"/>
        <script type="text/javascript" src="https://unpkg.com/konva@3.1.6/konva.min.js" defer=""></script>
        <script type="module" src="./index.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <title>UrbanLoop Simulator</title>
    </head>
    <body>
        <header>
            <hgroup>
                <h1><a href="//urbanloop.fr"><picture><img width="40" height="40" src="./favicon.ico" alt="UrbanLoop"/></picture></a></h1>
            </hgroup>
            <nav>
                <menu>
                    <li><label title="Upload" id="upload-button"><input type="file" accept="application/json" value="" disabled=""/>Upload</label></li>
                    <li><a download="" title="Download" id="download-button">Download</a></li>
                    <li><label title="Create" id="create-button"><input type="button" value="" disabled=""/>Create</label></li>
                    <li><label title="Delete" id="delete-button"><input type="button" value="" disabled=""/>Delete</label></li>
                </menu>
                <menu>
                    <li><label title="Play" id="play-button"><input type="button" value="" disabled=""/>Play</label></li>
                    <li><label title="Pause" id="pause-button"><input type="button" value="" disabled=""/>Pause</label></li>
                    <li><label title="Decelerate" id="decelerate-button"><input type="button" value="" disabled=""/>Decelerate</label></li>
                    <li><label title="Accelerate" id="accelerate-button"><input type="button" value="" disabled=""/>Accelerate</label></li>
                </menu>
                <menu>
                    <li><label title="Data" id="data-tab"><input type="radio" name="tab" value="data-panel"/>Data</label></li>
                    <li><label title="Statistics" id="stats-tab"><input type="radio" name="tab" value="stats-panel"/>Statistics</label></li>
                    <li><label title="Views" id="views-tab"><input type="radio" name="tab" value="views-panel"/>Views</label></li>
                </menu>
            </nav>
        </header>
        <main>
            <article></article>
            <aside hidden="" id="data-panel">
                <h2>Data</h2>
                <div id="data-content"></div>
            </aside>
            <aside hidden="" id="stats-panel">
                <h2>Statistics</h2>
                <div id="stats-content"></div>
                <div id="chart" style="width:100%; height:400px;"></div>
            </aside>
            <aside hidden="" id="views-panel">
                <h2>Views</h2>
                <div id="views-content"></div>
            </aside>
        </main>

        

    </body>
</html>
