<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="./index.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer=""></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" defer=""></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" defer=""></script>
    <script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js" defer=""></script>
    <script type="text/javascript" src="https://unpkg.com/konva@3.1.6/konva.min.js" defer=""></script>
    <script type="module" src="./index.js"></script>
    <title>UrbanLoop Simulator</title>
</head>
    <body>
        <header>
            <hgroup>
                <h1><a href="//urbanloop.fr"><picture><img width="40" height="40" src="favicon.ico" alt="UrbanLoop"/></picture></a></h1>
            </hgroup>
            <nav>
                <menu>
                    <li><label title="Upload" id="upload-button"><input type="file" accept="application/json" value="C:\fakepath\"/>Upload</label></li>
                    <li><a download="" title="Download" id="download-button" disabled="">Download</a></li>
                    <li><label title="Create" id="create-button"><input type="button" value="" disabled=""/>Create</label></li><!-- TODO: activer par défaut -->
                    <li><label title="Delete" id="delete-button"><input type="button" value="" disabled=""/>Delete</label></li>
                </menu>
                <menu>
                    <li><label title="Play" id="play-button" data-icon="&#9199;"><input type="button" value="" disabled=""/>Play</label></li>
                    <li><label title="Pause" id="pause-button" data-icon="&#9199;"><input type="button" value="" disabled=""/>Pause</label></li>
                    <li><label title="Decelerate" id="decelerate-button" data-icon="&#9193;"><input type="button" value="" disabled=""/>Decelerate</label></li>
                    <li><label title="Accelerate" id="accelerate-button" data-icon="&#9194;"><input type="button" value="" disabled=""/>Accelerate</label></li>
                </menu>
            </nav>
        </header>
        <main>
            <article></article>
            <aside>
                <ul class="nav nav-tabs">
                    <li class="nav-item active"><a class="nav-link" data-toggle="tab" href="#data-tab">Data</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#stats-tab">Statistics</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#view-tab">Views</a></li>
                </ul>
                <div class="tab-content">
                    <div id="data-tab" class="tab-pane fade in active show"></div>
                    <div id="stats-tab" class="tab-pane fade"></div>
                    <div id="view-tab" class="tab-pane fade">
                        <div id="view-object" class="container"></div>
                    </div>
                </div>
            </aside>
        </main>
    </body>
</html>
