*,
::before,
::after {
    box-sizing: border-box;
    outline: 0;
    vertical-align: top;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}
::selection {
    background-color: #fc39;
    color: #333;
}
::-moz-focus-inner {
    border: 0;
}
html {
    font-size: .625em; /* 1rem */
}
body {
    margin: 0;
    line-height: 1.25;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6em; /* 1.6rem */
}
html,
body {
    height: 100%;
    overflow: hidden;
}
body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 40rem;
}

.badge,
.btn {
    font-size: inherit;
}

#menu-div {
    z-index: 1;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    grid-column: 1 / 3;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    display: grid;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 .4rem #3333;
}

#menu-div > menu {
    padding: 0;
}

#menu-div > menu > li {
    display: inline-block;
}

#timer-div,
#speed-div,
label {
    margin: 0;
}

#network-div {
    grid-column: 1 / 2;
    background-color: #eee;
    z-index: 0;
}

#network-div > .konvajs-content{
    position: absolute !important;
}

#panel-div {
    z-index: 1;
    gap: 2rem;
    grid-column: 2 / 3;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 .4rem #3333;
    overflow: auto;
}

#panel-div > * {
    margin: 1rem;
}

#config-form > fieldset {
    margin: 2rem;
}

#config-btn-group,
#config-network-btn-group {
    display: flex;
    justify-content: center;
}

#network-text {
    display: flex;
    justify-content: space-around;
    min-height: 20px;
    margin: 0;
}

.fa-star {
    color: white;
}

.form-text-error {
    font-size: 12px;
    color: #bc0000;
}

#play-pause-button::before {
    content: "\23EF\FE0E  ";
}
#decelerate-button::before {
    content: "\23EA\FE0E  ";
}
#accelerate-button::before {
    content: "\23E9\FE0E  ";
}

.not-shown {
    display: none;
}

.nav-tabs {
    justify-content: space-around;
}

.nav-link {
    color: black;
    padding: .3rem .4rem;
}

.nav-link:hover {
    color: #424242;
    background-color: #ccc;
    cursor: pointer;
}

#tab-content > p {
    margin: 0;
}

#tab-content input {
    height: inherit;
}
