html, body {
    height: 100%;
    overflow-y: hidden;
}


#network-div {
    background: radial-gradient(#d9d9d9, rgb(211, 211, 211));
}

canvas {
    position: absolute;
    right: 0;
    top: 0;
}

#panel-div {
    position: relative;
    background-color: #eee;
    padding: 1.5rem;
}

hr {
    margin: .8rem 10%;
}

#timer-div {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

#speed-div {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
}

#buttons-div {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
}

.not-shown {
    display: none;
}

.nav-link {
    padding: .3rem .4rem;
}

.nav-link:hover {
    background-color: #ccc;
    cursor: pointer;
}

#tab-content {
    background-color: #fff;
    font-size: 0.8rem;
    margin: 0.3rem;
}

#tab-content > p {
    margin: 0;
}

#tab-content input {
    font-size: 0.8rem;
    height: inherit;
}

#slider-container {
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 20.5%;
}

#scale-slider {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    -webkit-appearance: none;
}

#scale-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #328e2c;
    cursor: pointer;
}

#scale-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #328e2c;
    cursor: pointer;
}