html, body {
    height: 100%;
    overflow-y: hidden;
}


#network-div {
    background: radial-gradient(#d9d9d9, rgb(211, 211, 211));
}

canvas {
    position: absolute;
    right: 0;
    top: 0;
}

#panel-div {
    background-color: bisque;
}

